@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  font-family: "Nanum Gothic", sans-serif;
}
.typewritter p {
  color: white;
  text-align: center;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.15em;
}

.grid-rows-header {
  grid-template-rows: 50% 50%;
}

#info-container {
  width: 100%;
  height: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "information one"
    "information two"
    "information three"
    "information four"
    "information five"
    "information six";
}

@media only screen and (max-width: 639px) {
  #info-container {
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "information"
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
  }
}

.information {
  background-color: white;
  grid-area: information;
}

.item-height {
  height: 100vh;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.icon {
<<<<<<< HEAD
  font-family: 'Inconsolata', monospace;
  animation-delay: 2s;
=======
  font-family: "Inconsolata", monospace;
  animation-delay: 1.5s;
>>>>>>> templates
  animation-name: bounce, fadeIn;
}

#welcome {
  animation-duration: 4s;
}

.info-container p {
  min-height: min-content;
}

.item-grid {
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 70% 15%;
  grid-template-areas:
    "title title"
    "image image"
    "tech tech" 
    "live-demo github";
}

.title {
  grid-area: title;
}

.image {
  grid-area: image;
}

.tech {
  grid-area: tech;
}

.live-demo {
  grid-area: live-demo;
}

.github {
  grid-area: github;
}

.cool-link {
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #fff;
  transition: width 0.1s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.cool-link-dark {
  text-decoration: none;
}

.cool-link-dark::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #1a202c;
  transition: width 0.1s;
}

.cool-link-dark:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.contact {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44337a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(108, 1, 158);
}
