@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  font-family: 'Nanum Gothic', sans-serif;
}
.typewritter p {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.15em;
}



.grid-rows-header {
  grid-template-rows: 80% 20%;
}

.icon{
  animation-delay: 3s;
  animation-name: bounce, fadeIn;
}




