@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.welcome-container {
  display: initial;
}

.typewritter p {
  color: white;
  letter-spacing: 0.15em;
}



.grid-rows-header {
  grid-template-rows: 80% 20%;
}

.icon{
  animation-delay: .5s;
  animation-name: bounce, fadeIn;
}

.info-container {
  display: none;
}



